*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*CONTENEDOR PRINCIPAL*/
#contentG{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    padding: 4px;
}

/*AREA DE COMANDOS E INSTRUCCIONES*/
.mini-cont{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 4px;
}

/*ENCABEZADO DE LA PAGINA*/
#contentG > header{
    text-align: center;
    margin-bottom: 20px;
    background: springgreen;
}

header{
    flex: 1 100%;
}

header h1{
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
}

/*ENTRADA COMANDOS E INSTRUCCIONES*/
.mini-cont h2{
    text-transform: uppercase;
    /*font-size: 1.2em;*/
}
.mini-cont p{
    line-height: 1.2em;
    text-align: justify;
}

/*CELDAS DEL JUEGO*/
table{
    padding: 0;
    border-spacing: 0;
    border: black solid;
}

tr{
    border: 0;
    padding: 0;
    border-collapse: collapse;
}

td{
    border: 0;
    padding: 0;      
    width: 45px;
    height: 45px;
    border-collapse: collapse;
}

/*ELEMENTOS DEL JUEGO*/
.obstaculo{
    background-color: black;
}

.meta{
    background-color: chartreuse;
}

.avatar{
    background-image: url("../img/img.gif");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.camino{
    background-image: radial-gradient(circle, #333 10%, #999 40% ,rgba(255,255,255,1) 40%);        
}

/*RWD PARA PANTALLAS PEQUEÑAS*/
@media screen and (max-width: 639px){
    td{
        width: 40px;
        height: 40px;
    }

    #contentG > *{
        flex: 1 100%;
    }

    .camino{
        background-image: radial-gradient(circle, #333 10%, #999 30%, rgba(255,255,255,0) 50%);
    }
    .instr{
        order: 1;
    }
    .mini-cont h2{
        font-size: 1.2em;
    }

}

/*RWD PARA PANTALLAS MEDIANAS*/
@media screen and (min-width: 640px){
    td{
        width: 60px;
        height: 60px;
    }

    .cont{
        flex: 1 50%;
    }
    .instr{
        order: 1;
    }
}

/*RWD PARA PANTALLAS GRANDES*/
@media screen and (min-width: 1120px){
    td{
        width: 80px;
        height: 80px;
    }    
    .cont{
        flex: 1 50%;
    }

    #menu{
        padding: 5px;
    }
 
    #cont{
        order: 0;
        padding: 5px;
    }
    
    .instr{
        order: 1;
    }
}
